/*
+-------------------------------------------------------+
| Rajarshi Das						                    |
+-------------------------------------------------------+
| Created On: 22-Dec-2022				                |
| Updated On: 											|
+-------------------------------------------------------+
*/

body{
    background-color: #173f4f;
    font-family: 'Roboto';
    color:white;
}

a {
    text-decoration: none;
    
}

.rd-banner {
    color: white;
    padding: 2rem 0 2rem 0;
    text-align: center;
}
.rd-content {
    color: white;
}
.rd-text-muted-gray {
    color: RGB(210,210,210);
}
.rd-box {
    /* background-color: #4bb679; */
    color: #000;
    background-color: white;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom:2rem;
    text-align: center;
}

.btn-outline-success {
    color: #173f4f;
    border-color: #173f4f;
}

.btn-outline-success:hover {
    color: white;
    background-color: #173f4f;
}